.nav-wrapper {
  padding: 0 2rem;
}

.page-footer {
  padding: 0;
}

.content {
  min-height: calc(100vh - 155px);
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -10px;
}

.card {
  padding: 10px;
  margin: 10px;
  min-height: 450px;
  max-height: 450px;
  min-width: 350px;
  max-width: 350px;
}

.card .card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .btn-bue {
  text-transform: capitalize;
}

.card .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-image img {
  min-height: 210px;
  max-height: 210px;
  display: block;
  object-fit: contain;
  object-position: center;
}

.price {
  font-size: 22px;
  color: green;
  font-weight: 700;
}

.price-big {
  font-size: 1.6rem;
  font-weight: 700;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}
