.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper .card {
  width: 330px;
  height: 500px;
  margin: 5px;
}

.card-wrapper .card-image img {
  display: block;
  object-fit: contain;
  object-position: center;
  height: 300px;
}

.card-wrapper .card-action a {
  font-size: 12px;
}

.remove-course .btn {
  margin-top: 10px;
}

.price-descr {
  font-size: 24px;
}
